* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Segoe, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: #00375B;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: calc(26px + (48 - 26) * ((100vw - 320px) / (1920 - 320))) !important;
  line-height: 64px;
  color: #D9D9D9;
}

.pages__title {
  padding-bottom: 35px;
  position: relative;
  margin-bottom: 40px;

  &::after {
    content: '';
    width: 80px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F58B31;
  }
}

.pages__subtitle {
  font-size: 24px;
  line-height: 32px;
  color: #D9D9D9;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.breadcrumb {
  padding-top: 80px;
  margin-bottom: 30px;
  background-color: transparent;
}

.breadcrumb-item {
  color: #D9D9D9;
  font-size: 14px;
  line-height: 19px;

  &.active span {
    font-weight: 700 !important;
  }

  & a {
    color: #D9D9D9;
    font-weight: 400;
  }
}

.pages__rectangle-bg {
  position: relative;
  background-image: url("~/assets/img/rectangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #00375B;
  padding-bottom: 100px;
}

.pages__intro-img {
  padding-top: 80px;
  width: 100%;
  height: 300px;
  position: relative;
  padding-bottom: 30px;

  &::after {
    content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(270deg, #00375B 0%, #0072BC 50%, #00375B 100%);
  }

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.75;
  }
}

.back__btn {
  display: none;
}

@media only screen and (max-width: 1199px) {

  .pages__intro-img {
    padding-bottom: 20px;

    &::after {
      height: 20px;
    }
  }

  .breadcrumb {
    padding-top: 50px;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 991px) {

  .pages__title {
    font-size: calc(24px + (48 - 26) * ((100vw - 320px) / (1920 - 320))) !important;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  .pages__subtitle {
    font-size: 20px;
  }

  .pages__intro-img {
    padding-bottom: 10px;

    &::after {
      height: 10px;
    }
  }

  .breadcrumb {
    padding-top: 40px;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 767px) {

  .pages__intro-img {
    height: 150px;
    margin-top: 70px;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }

  .pages__rectangle-bg {
    padding-bottom: 60px;
  }

  .pages__intro-img {
    padding: 70px 0 10px;
  }

  .breadcrumb {
    padding-top: 30px;
  }

  .pages__title {
    line-height: 46px;
    margin-top: 30px;

    &::after {
      width: 60px;
      height: 3px;
    }
  }

}

@media only screen and (max-width: 575px) {

  .pages__intro-img {
    height: 120px;
    margin-top: 60px;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 120px;
      object-fit: cover;
    }
  }

  .pages__title {
    line-height: 36px;
    padding-bottom: 25px;
  }

  .pages__subtitle {
    font-size: 17px;
  }

  .pages__intro-img {
    padding: 60px 0 10px;
  }

  .back__btn {
    display: inline-block;
    align-items: center;
    color: #D9D9D9;
    padding: 10px 1.5rem;
    background-color: #002238;
    margin-top: 30px;
    border-radius: .5rem;
  }

  .breadcrumb {
    display: none;
  }

}
